body {
    background: #CAE9FF;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
}

ul {
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #6F808C;
}


/* Container for input fields to add new list items */

.listInput {
    /* Input box container*/
    padding-top: 40px;
    font-size: 24px;
    text-align: center;
}


/* Container for input field + button */

#inputArea {
    position: relative;
    width: 100%;
}

.listInput #userInput {
    /* Text field for new items */
    background: #CAE9FF;
    color: ##6F808C;
    border: 2px solid #6F808C;
    height: 60px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    transition: all .2s;
}

.listInput #userInput:hover {
    /* Text field hover effect */
    background: #EBF7FF;
}

.listInput #userInput:focus {
    /* Text field focus effects */
    box-shadow: none;
    outline: none;
    background: #EBF7FF;
}


/* End container for input field +button*/


/* End container for input fields to add new list items */


/* Custom buttons for textfield and list item buttons (> & X)*/

.custBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    color: #6F808C;
    width: 40px;
    height: 60px;
    border: 3px solid transparent;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
    transition: all .2s;
}

.custBtn:hover {
    color: #A6BFD1;
    cursor: pointer;
}

.custBtn:focus {
    outline: none;
}


/* End buttons */


/* Container for list items */

.mainList {
    padding-top: 20px;
}


/* List items */

.mainList .listItem {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 26px;
    background: #CAE9FF;
    border: 2px solid #6F808C;
    color: ##6F808C;
    height: 60px;
    width: 100%;
    list-style: none;
    transition: all .2s;
}

.mainList .listItem:hover {
    /* List items hover effect */
    background: #EBF7FF;
    cursor: pointer;
}

.mainList .listItem:not(:first-child):not(:last-child) {
    border-top: 1px solid #6F808C;
    border-bottom: 1px solid #6F808C;
}

.mainList .listItem:nth-child(2) {
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #6F808C;
}

.mainList .listItem:nth-last-child(1) {
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #6F808C;
}

.done {
    text-decoration: line-through;
}


/* End list items*/


/* End container for list items */

@media screen and (max-width: 760px) {
    .container {
        height: 100%;
    }
    .header {
        margin-top: 65px;
    }
    #inputArea {
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 10;
    }
    .listInput #userInput {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: 0px 0px 10px 1px #384046;
    }
    .mainList .listItem:hover {
        background: #CAE9FF;
    }
    .mainList .listItem {
        border-radius: 5px;
    }
    .mainList .listItem:nth-child(2) {
        border-radius: 5px;
    }
    .mainList .listItem:nth-last-child(1) {
        border-radius: 5px;
    }
}